
body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-image: url(./img/fondo.png);
    background-size: cover;
    color: white;
}

h1{
    text-align: center;
    color: darkslategrey;
}

.container{
    border-radius: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.942);
    padding: 30px;
}

.tareasList{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

form{
    display: flex;
    justify-content: center;
}

input{
    padding: 10px 10px;
    width: 400px;
    outline: none;
}

.btn-add{
    padding: 5px 10px;
    color: white;
    border: none;
    font-family: fantasy;
    background-color: teal;
    font-size: 1.4rem;
    outline: none;
    cursor: pointer;
}

.empty{
    color: darkslategrey;
}

ul{
    padding: 10px 15px;
}

li{
    background-color: rgba(211, 211, 211, 0.384);
    list-style: none;
    border-radius: 10px;
    display: flex;
    margin: 3px;
}

li p{
    color: darkslategrey;
    margin: 0;
    padding: 12px;
    width: 100%;
}

.btn-delete{
    margin-left: auto;
    border: none;
    color: white;
    background-color: red;
    font-weight: bold;
    padding: 5px 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1.2em;
}

.btn-delete:hover{
    cursor: pointer;
    background-color: rgb(162, 31, 31);
}